
:root {
  --backgroundColor: #002b36;
  --navbarTextColor: #677a97;
  --inputCtlTextColor: #657b83;
  --borderColor: gray;
  --labelColor: white;
  --errorTextColor: red;
}

.navbar {
  background-color: var(--backgroundColor);
}

.navbarBrand {
  color: var(--navbarTextColor) !important;
}

.appContainer {
  text-align: center;
  background-color: var(--backgroundColor);
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.inputCntrl1 {
  color: var(--inputCtlTextColor) !important;
  background-color: var(--backgroundColor) !important;
  border-color: var(--borderColor) !important;
  clear: both;
  margin-bottom: 10px;
}

.inputTextArea {
  resize: none; 
  height: 200px;
}

.errorTxtContainer {
  height: 10px;
}

.errorTxt {
  color: var(--errorTextColor);
}

.qryRsltContainer {
  border: 1px solid var(--borderColor);
  border-radius: 3px;
  min-height: 150px;
  clear: both;
  text-align: left;
  padding-left: 10px; 
  overflow-X: auto;
}

.qryRsltJsonText {
  color: var(--inputCtlTextColor);
}

.btn:focus,.btn:active {
  box-shadow: none !important ;
}

.form-label {
  float: left !important;
  text-align: left !important;
  color: var(--labelColor);
}

.form-control:focus {
  box-shadow: none !important;
}
