
.navbar {
  background-color: #002b36;
}

.navbarBrand {
  color: #677a97 !important;
}

.appContainer {
  text-align: center;
  background-color: #002b36;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.inputCntrl1 {
  color: #657b83 !important;
  background-color: #002b36 !important;
  border-color: gray !important;
  clear: both;
  margin-bottom: 10px;
}

.inputTextArea {
  resize: none; 
  overflow-y: scroll;
  height: 200px;
}

.errorTxtContainer {
  height: 10px;
}

.errorTxt {
  color: red;
}

.qryRsltContainer {
  border: 1px solid gray;
  border-radius: 3px;
  min-height: 150px;
  clear: both;
  text-align: left;
  padding-left: 10px; 
}

.btn:focus,.btn:active {
  box-shadow: none !important ;
}

.form-label {
  float: left !important;
  text-align: left !important;
  color: white;
}

.form-control:focus {
  box-shadow: none !important;
}
